# Node.js dependencies
/node_modules

# Next.js build output
/.next
/out

# Environment variable files
.env
.env.*.local

# System files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Testing coverage
/coverage

# Yarn Plug'n'Play
.pnp.*
